@page "/"

<PageTitle>Moogle!</PageTitle>

<h1>🔍 Moogle!</h1>

<input class="p-1 my-4" @bind="query" placeholder="Introduzca su búsqueda">

<button type="default" class="btn btn-primary" @onclick="RunQuery">🔍 Buscar</button>

@if (!string.IsNullOrEmpty(result.Suggestion))
{
    <div class="suggestion">
    <p>¿Quisiste decir <strong><a href="#">@result.Suggestion</a></strong>?</p>
</div>
}

<ul class="results">
    @foreach (var item in result.Items())
    {
        <li>
            <div class="item">
                <p class="title">@item.Title</p>
                @for (int i = 0; i < item.Snippet.Length; i++)
                {
                    <p>... <a target='__blank' href=@(item.Title+"_"+item.Pos_Snippet[i])>@item.Snippet[i]</a> ...</p>
                }
            </div>
        </li>
    }
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();
    private void RunQuery()
    {
        result = Moogle.Query(query);
    }
}